// variables===========================================================START
// ========================## Colors=======================================
// ### Primary
$dark-blue-intro-and-email-signup-bg: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark--testimonials-bg: hsl(219, 30%, 18%);

// ### Accent
$cyan-inside-cta-gradient: hsl(176, 68%, 64%);
$blue-inside-cta-gradient: hsl(198, 60%, 50%);
$light-red-err : hsl(0, 100%, 63%);


// ### Neutral
$White : hsl(0, 0%, 100%);
// ========================## Colors=========================================
// ========================## Font Family and weight=========================
$ff-primary : 'Open Sans', sans-serif;
$ff-secondary : 'Raleway', sans-serif;
$fw-regular : 400;
$fw-bold : 700;
$general-fontsize : 14px;
// ========================## Font Family and weight=========================




// variables================================================================END